%% -*- mode: erlang -*-
{deps, [
	{procket,".*",{git, "git://github.com/msantos/procket.git", "94bd7bc"}}
]}.
{clean_files, [ "doc/edoc-info"
              , "doc/erlang.png"
              , "doc/stylsheet.css"
              , "doc/*.html"
              ]}.
{src_dirs, ["examples"
           , "test"
           ]}.
